body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(255, 0, 250, 1) 0%,
    rgba(209, 120, 244, 1) 53%
  );
}

h1 {
  height: 100px;
  width: 100%;
  text-align: center;
  margin: 0;
  padding-top: 55px;
  font-size: 3em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.2em;
  font-family: serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 9%,
    rgba(209, 120, 244, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

.topnav {
  overflow: hidden;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 9%,
    rgba(209, 120, 244, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  color: white;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 9%,
    rgba(209, 120, 244, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

.topnav .icon {
  display: none;
}

.topnav a:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 9%,
    rgba(209, 120, 244, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}
.icones {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.entete {
  margin-top: 150px;
  margin-bottom: 80px;
}
.entete h2 {
  text-align: center;
  margin-top: 15px;
  font-size: 2em;
}

#carte {
  margin-bottom: 60px;
}
#carte h2 {
  font-size: 3rem;
  padding-left: 50px;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
}

h3 {
  display: flex;
  align-items: center;
  text-align: justify;
  padding-left: 35px;
  padding-top: 15px;
}

p {
  padding-left: 80%;
  font-weight: 700;
  font-size: larger;
}

.plats {
  border: 2px solid black;
  padding-left: 15px;
  margin-left: 150px;
  margin-right: 15px;
  width: 75%;
  background-color: rgb(248, 142, 147);
  border-radius: 15px;
  line-height: 1.2rem;
}
hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
  width: 10px;
}

.desserts {
  border: 2px solid black;
  padding-left: 15px;
  margin-left: 150px;
  margin-right: 15px;
  margin-top: 15px;
  width: 75%;
  background-color: violet;
  border-radius: 15px;
  line-height: 1.2rem;
}

.boissons {
  border: 2px solid black;
  padding-left: 15px;
  margin-left: 150px;
  margin-right: 15px;
  margin-top: 25px;
  width: 75%;
  border-radius: 15px;
  background-color: tomato;
  line-height: 0.5rem;
}

h6 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: 35px;
  margin-bottom: 35px;
  text-align: center;
  text-decoration: underline;
}
h4 {
  margin-left: 15px;
  font-size: 1.5rem;
  color: white;
}
h5 {
  margin-left: 15px;
}

.button {
  color: red;
  position: fixed;
  left: 90%;
  bottom: 5%;
  border: 15px solid white;
  border-radius: 50%;
  text-decoration: none;
  background-color: white;
  opacity: 0.3;
}

.button:hover {
  opacity: 1;
  color: blue;
}

/* !!!!!!!!!!!!!!!!!   RESPONSIVE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .icones {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .plats {
    margin-left: auto;
  }
  .plats h3 {
    padding-left: 0px;
  }
  .desserts {
    margin-left: auto;
  }
  .desserts h3 {
    padding-left: 0px;
  }
  .boissons {
    margin-left: auto;
  }
  .button {
    display: none;
  }
}
@media screen and (min-width: 401px) and (max-width: 599px) {
  .icones {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
