* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(255, 0, 250, 1) 0%,
    rgba(209, 120, 244, 1) 53%
  );
}
.titre {
  text-transform: uppercase;
  text-align: center;
  height: 150px;
  width: 100%;
  margin-top: 0;
  padding-top: 20px;
  background-color: #a062f1;
  font-size: 20px;
}

.topnav {
  overflow: hidden;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 9%,
    rgba(209, 120, 244, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  color: white;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 9%,
    rgba(209, 120, 244, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

.topnav .icon {
  display: none;
}

.topnav a:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 9%,
    rgba(209, 120, 244, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}
.icones {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

h2 {
  margin: 80px 80px;
  font-size: 40px;
  text-align: center;
}

/* !!!!!!!!!!!!!!!!!   RESPONSIVE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .icones {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 401px) and (max-width: 599px) {
  .icones {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

/* ici commence le responsive */

/* pour tablette */

@media (min-width: 768px) and (max-width: 1388px) {
  body {
    width: 100%;

    padding: 0px;
  }

  #nav {
    width: 100%;
  }

  h2 {
    width: 80%;
  }

  p a {
    margin-left: 300px;
  }

  /* pour smartphone */
}
@media (max-width: 767px) {
  body {
    width: 100%;

    padding: 0px;
  }
  .titre {
    width: 100%;
  }

  #nav {
    width: 100%;
  }

  p a {
    display: none; /*permet de supprimé un élément */
  }
}
