body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(255, 0, 250, 1) 0%,
    rgba(209, 120, 244, 1) 53%
  );
}

h1 {
  height: 100px;
  width: 100%;
  text-align: center;
  margin: 0;
  padding-top: 55px;
  font-size: 3em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.2em;
  font-family: serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 9%,
    rgba(209, 120, 244, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

.topnav {
  overflow: hidden;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 9%,
    rgba(209, 120, 244, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  color: white;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 9%,
    rgba(209, 120, 244, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

.topnav .icon {
  display: none;
}

.topnav a:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 9%,
    rgba(209, 120, 244, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}
.icones {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.tel {
  padding: 10px;
  margin-top: 100px;
  margin-left: 75px;
  border: 2px solid black;
  border-radius: 25px;
  box-shadow: 10px 8px 8px 5px rgba(19, 2, 16, 0.79);
  background-color: rgb(175, 30, 132);
  width: 450px;
  height: 200px;
}

.itel {
  float: left;
  padding-top: 45px;
}

.ptel {
  font-size: 2em;
  text-align: justify;
  padding: 0px 20px 15px 20px;
}

.reception {
  position: relative;
  border: 2px solid black;
  border-radius: 25px;
  background-color: rgb(71, 213, 231);
  box-shadow: 10px 8px 8px 5px rgba(19, 2, 16, 0.79);
  width: 450px;
  height: 200px;
  padding: 10px;
  margin-left: 770px;
  margin-top: -225px;
  margin-bottom: 25px;
}
.reception img {
  float: left;
  padding-top: 45px;
}

.reception p {
  font-size: 2em;
  text-align: justify;
  padding: 20px;
}

.pdj {
  margin-left: 50px;
  margin-top: 100px;
  width: 350px;
  height: 200px;
  border: 2px solid black;
  background-color: #9dc72b;
  box-shadow: 0px 10px 13px -7px #000000, 10px 8px 8px 5px rgba(19, 2, 16, 0);
}

.pdj img {
  float: left;
  padding-top: 55px;
  padding-left: 1px;
}

.pdj p {
  font-size: x-large;
  padding: 30px;
  text-align: justify;
}

.resto {
  width: 300px;
  height: 200px;
  position: relative;
  margin-left: 550px;
  margin-top: -200px;
  border: 2px solid black;
  background-color: #9dc72b;
  box-shadow: 0px 10px 13px -7px #000000, 10px 8px 8px 5px rgba(19, 2, 16, 0);
}

.iresto {
  float: left;
  padding-top: 30px;
  padding-left: 5px;
}

.presto {
  font-size: x-large;
  padding-top: 30px;
  padding-left: 100px;
}

.bar {
  width: 300px;
  height: 200px;
  position: relative;
  margin-left: 960px;
  margin-top: -200px;
  border: 2px solid black;
  background-color: #9dc72b;
  box-shadow: 0px 10px 13px -7px #000000, 10px 8px 8px 5px rgba(19, 2, 16, 0);
}

.bar img {
  float: left;
  padding-top: 10px;
  padding-left: 15px;
}

.bar p {
  font-size: x-large;
  padding-top: 30px;
  padding-left: 100px;
}

.sport {
  margin-left: 95px;
  margin-top: 100px;
  width: 400px;
  height: 200px;
  border: 2px solid black;
  background-color: blue;
  box-shadow: 0px 10px 13px -7px #000000, 10px 8px 8px 5px rgba(19, 2, 16, 0);
}

.sport img {
  float: left;
  padding-top: 35px;
  padding-left: 5px;
}

.sport p {
  font-size: x-large;
  color: aliceblue;
  padding-top: 40px;
}
.piscine {
  margin-left: 850px;
  margin-top: -200px;
  width: 400px;
  height: 200px;
  border: 2px solid black;
  background-color: rgb(162, 162, 243);
  box-shadow: 0px 10px 13px -7px #000000, 10px 8px 8px 5px rgba(19, 2, 16, 0);
}

.piscine img {
  float: left;
  padding-top: 45px;
  padding-left: 5px;
}
.piscine p {
  font-size: x-large;
  padding-top: 35px;
  padding-left: 95px;
  color: aliceblue;
}

.fumer {
  margin-left: 45px;
  margin-top: 100px;
  width: 400px;
  height: 200px;
  border: 2px solid black;
  background-color: #f08ac5;
  box-shadow: 0px 10px 13px -7px #000000, 10px 8px 8px 5px rgba(19, 2, 16, 0);
}
.fumer img {
  float: left;
  padding-top: 45px;
  padding-left: 5px;
}

.fumer p {
  font-size: x-large;
  padding-top: 35px;
  padding-left: 95px;
  color: red;
}

.mini {
  position: relative;
  margin-left: 500px;
  margin-top: -175px;
  width: 300px;
  height: 150px;
  border: 2px solid black;
  background-color: #f08ac5;
  box-shadow: 0px 10px 13px -7px #000000, 10px 8px 8px 5px rgba(19, 2, 16, 0);
}

.mini img {
  float: left;
  padding-top: 30px;
  padding-left: 5px;
}

.mini p {
  font-size: x-large;
  padding-top: 10px;
  padding-left: 95px;
}

.wifi {
  margin-left: 900px;
  margin-top: -175px;
  width: 400px;
  height: 200px;
  border: 2px solid black;
  background-color: #f08ac5;
  box-shadow: 0px 10px 13px -7px #000000, 10px 8px 8px 5px rgba(19, 2, 16, 0);
}

.wifi img {
  float: left;
  padding-top: 45px;
  padding-left: 5px;
}

.wifi p {
  font-size: x-large;
  color: aliceblue;
  padding-top: 5px;
  padding-left: 115px;
}

.coffre {
  margin-left: 150px;
  margin-top: 100px;
  width: 400px;
  height: 200px;
  border: 2px solid black;
  background-color: #f08ac5;
  box-shadow: 0px 10px 13px -7px #000000, 10px 8px 8px 5px rgba(19, 2, 16, 0);
}
.coffre img {
  float: left;
  padding-top: 25px;
  padding-left: 5px;
}

.coffre p {
  font-size: x-large;
  padding-top: 15px;
  padding-left: 115px;
}

.reveil {
  margin-left: 750px;
  margin-top: -200px;
  width: 400px;
  height: 200px;
  border: 2px solid black;
  background-color: #f08ac5;
  box-shadow: 0px 10px 13px -7px #000000, 10px 8px 8px 5px rgba(19, 2, 16, 0);
}

.reveil img {
  float: left;
  padding-top: 45px;
  padding-left: 5px;
}

.reveil p {
  font-size: x-large;
  padding-top: 25px;
  padding-left: 115px;
}

.parking {
  margin-left: 150px;
  margin-top: 100px;
  margin-bottom: 55px;
  width: 400px;
  height: 200px;
  border: 2px solid black;
  background-color: white;
  box-shadow: 0px 10px 13px -7px #000000, 10px 8px 8px 5px rgba(19, 2, 16, 0);
}
.parking img {
  float: left;
  padding-top: 35px;
  padding-left: 5px;
}

.parking p {
  font-size: x-large;
  padding-top: 35px;
  padding-left: 115px;
}

.nuxe {
  margin-left: 750px;
  margin-top: -250px;
  width: 400px;
  height: 200px;
  border: 2px solid black;
  background-color: orange;
  box-shadow: 0px 10px 13px -7px #000000, 10px 8px 8px 5px rgba(19, 2, 16, 0);
}

.nuxe img {
  float: left;
  padding-top: 35px;
  padding-left: 5px;
}

.nuxe p {
  font-size: x-large;
  padding-top: 35px;
  padding-left: 115px;
}

.button {
  color: red;
  position: fixed;
  left: 90%;
  bottom: 5%;
  border: 15px solid white;
  border-radius: 50%;
  text-decoration: none;
  background-color: white;
  opacity: 0.3;
}

.button:hover {
  opacity: 1;
  color: blue;
}

/* !!!!!!!!!!!!!!!!!   RESPONSIVE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  h1 {
    display: none;
  }

  .icones {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .tel {
    padding: 10px;
    margin-top: 100px;
    margin-left: 2em;
    width: 75%;
    height: 200px;
  }

  .ptel {
    font-size: 1.5em;
    text-align: justify;
    padding: 0px 20px 15px 20px;
  }

  .reception {
    position: absolute;
    width: 75%;
    height: 200px;
    padding: 10px;
    margin-left: 2em;
    margin-top: 390px;
  }

  .reception p {
    font-size: 1.5em;
    text-align: justify;
    padding: 20px;
  }

  .pdj {
    position: absolute;
    width: 75%;
    height: 200px;
    padding: 10px;
    margin-left: 2em;
    margin-top: 690px;
  }

  .pdj p {
    font-size: 1.5em;
    padding: 10px;
    text-align: justify;
  }

  .resto {
    position: absolute;
    width: 75%;
    height: 200px;
    padding: 10px;
    margin-left: 2em;
    margin-top: 990px;
  }

  .presto {
    font-size: x-large;
    padding-top: 30px;
    padding-left: 100px;
  }

  .bar {
    position: absolute;
    width: 75%;
    height: 200px;
    padding: 10px;
    margin-left: 2em;
    margin-top: 1290px;
  }

  .sport {
    position: absolute;
    width: 75%;
    height: 200px;
    padding: 10px;
    margin-left: 2em;
    margin-top: 1590px;
  }

  .piscine {
    position: absolute;
    width: 75%;
    height: 200px;
    padding: 10px;
    margin-left: 2em;
    margin-top: 1890px;
  }

  .fumer {
    position: absolute;
    width: 75%;
    height: 200px;
    padding: 10px;
    margin-left: 2em;
    margin-top: 2190px;
  }

  .fumer p {
    font-size: 1.5em;
    padding-top: 5px;
    padding-left: 95px;
    color: red;
  }

  .mini {
    position: absolute;
    width: 75%;
    height: 200px;
    padding: 10px;
    margin-left: 2em;
    margin-top: 2490px;
  }

  .wifi {
    position: absolute;
    width: 75%;
    height: 200px;
    padding: 10px;
    margin-left: 2em;
    margin-top: 2790px;
  }

  .wifi img {
    display: none;
    float: left;
    padding-top: 45px;
    padding-left: 5px;
  }

  .wifi p {
    font-size: 1.5em;
    text-align: left;
    padding-top: 1px;
    padding-left: 5px;
  }

  .coffre {
    position: absolute;
    width: 75%;
    height: 200px;
    padding: 10px;
    margin-left: 2em;
    margin-top: 3090px;
  }
  .coffre img {
    display: none;
  }

  .coffre p {
    font-size: 1.5em;
    text-align: left;
    padding-top: 1px;
    padding-left: 5px;
  }

  .reveil {
    position: absolute;
    width: 75%;
    height: 200px;
    padding: 10px;
    margin-left: 2em;
    margin-top: 3390px;
  }

  .reveil img {
    display: none;
  }

  .reveil p {
    font-size: 1.5em;
    text-align: left;
    padding-top: 1px;
    padding-left: 5px;
  }

  .parking {
    position: absolute;
    width: 75%;
    height: 200px;
    padding: 10px;
    margin-left: 2em;
    margin-top: 3690px;
  }
  .parking img {
    width: 100px;
    float: left;
    padding-top: 35px;
    padding-left: 5px;
  }

  .nuxe {
    position: absolute;
    width: 75%;
    height: 200px;
    padding: 10px;
    margin-left: 2em;
    margin-top: 3990px;
  }

  .nuxe img {
    width: 100px;
    float: left;
    padding-top: 35px;
    padding-left: 5px;
  }

  .nuxe p {
    font-size: x-large;
    padding-top: 15px;
    padding-left: 115px;
  }

  .button {
    display: none;
  }
  h5 {
    display: none;
  }
}
/* @media screen and (min-width: 401px) and (max-width: 599px) {
  .icones {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
} */

@media screen and (min-width: 601px) and (max-width: 1300px) {
}
